body {
    background-color: #232323;
}

div {
    margin-top: 30px;
    font-family: Arial;
    color: #ffffff;
}

p {
    display: block;
}

input {
    padding: 10px;
    display: block;
    box-sizing: border-box;
    border: 0px;
    margin-bottom: 15px;
    margin-top: 3%;
    width: 40%;
    background-color: #eeeeee;
    color: #232323;
}

button {
    background-color: #ffffff;
    padding: 10px;
    margin-right: auto;
    border: 0px;
    color: #232323;
}
