body {
    background-color: #232323;
    margin: 0px;
    color: white;
    font-family: "Segoe UI";
    font-weight: 200;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    color: #3399cc;
    background-color: #3399cc;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.header {
    height: 50px;
    text-align: center;
    background-color: #3399cc;
}

#title {
    vertical-align: middle;
}

h1 {
    color: white;
    font-family: "Segoe UI";
    font-weight: 200;
}

p, a {
    color: white;
}

a {
    width: initial;
}

#time {
    margin-top: -54px;
    font-size: 20px;
    margin-right: 10px;
    float: right;
    vertical-align: middle;
}

#repo {
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: -100%;
    float: left;
    vertical-align: middle;
}

.links {
    margin-left: 8px;
}

.link {
    color: white;
    display: block;
    font-size: 110%;
}

.game {
    font-size: 120%;
}

.rotate {
    position: absolute;
    -webkit-animation:spin 0.5s linear 2;
    -moz-animation:spin 0.5s linear 2;
    animation:spin 0.5s linear 2;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
