body {
    background-color: #232323;
    font-family: "Segoe UI", Arial;
    color: white;
}

.inplab {
    display: block;
}

#showi, #indent, #string {
    display: inline;
    margin-right: 10px;
}

textarea {
    width: 100%;
    display: block;
    margin-top: 10px;
}

button {
    background-color: white;
    border: 0;
}

input {
    border: 0;
}

#outp {
    height: 45%;
}

#inp {
    height: 50%;
}

#btn, #link {
    margin-left: 20px;
}
