body {
    background-color: #232323;
    font-family: "Segoe UI", Arial;
    color: white;
}

button {
    background-color: white;
    border: 0;
}

input {
    border: 0;
    display: block;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    height: 85%;
    width: 100%;
}