body {
    background-color: #232323;
    font-family: "Segoe UI", Arial;
    margin: 0;
    color: white;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

.readme, .info {
    margin-left: 15px;
}

.info {
    float: right;
    margin-top: -325
}

.header {
    background-color: #3399cc;
    width: 100%;
    height: 50px;
}

.header-links {
    float: left;
    display: inline;
    margin-top: 6;
}

.header-link {
    display: inline;
    text-decoration: none;
    color: white;
    margin-right: 27px;
    margin-left: 13px;
    font-weight: 400;
}

pre {
    padding: 5;
    margin: 1;
    color: #eeeeee;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 5px;
    width: 565;
}

.install {
    background-color: #333333;
    color: #eeeeee;
    padding: 2;
    border: 1px solid #444444;
    border-radius: 1px;
}

h1 {
    font-weight: 400;
}
