body {
    background-color: #232323;
    font-family: Arial;
}

textarea {
    background-color: #eeeeee;
    color: #232323;
}

#txta {
    width: 99%;
    height: 45%;
}

input {
    width: 85%;
    height: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5;
}

button {
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 2.5;
    margin-left: 3%;
    width: 10%;
    height: 5%;
}

#outputTxta {
    width: 99%;
    height: 40%;
    margin-bottom: 10px; 
}

::placeholder {
    color: #cccccc;
}
