canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
}
body {
    margin: 0px;
    cursor: none;
    color: white;
    font-family: "Segoe UI", Arial;
}

#settings {
    z-index: 69;
    position: absolute;
}

#linew {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: none;
}
#linew::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: none; 
    border-radius: 10%;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background-color: #00ff99; 
}
input {
    cursor: none;
}
button {
    display: inline;
}
