body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: white;
    font-family: Roboto, "Segoe UI", Arial;
}

input {
    border: 0;
    height: 30;
}

input[type="file"] {
    color: white;
}

canvas {
    display: block;
}